include includes/head
		title Создание формы | SuperForms
		link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")
	body
		div#root.container
		script#info(type="application/json").
			{
				"postUrl": "/api/forms/"
			}
		script(type="text/javascript", src="/scripts/generation.js")