include includes/head
		title Превью | SuperForms
		link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")
		link(rel="stylesheet", href="/styles/react-widgets.css")
	body
		div#root.container
		script#info(type="application/json").
			{
				"type": "PREVIEW_FORM",
				"getUrl": "/api/forms/#{id}"
			}
		script(type="text/javascript", src="/scripts/interview.js")