include includes/head
		title Регистрация | SuperForms
	body
		#sign-up-container.container
			div.col-md-3
			div.col-md-6
				#error.alert.alert-danger.hide
				div.form-group: input#login.form-control(type='text' placeholder="Электронная почта" required)
				div.form-group: input#password.form-control(type='password' placeholder="Пароль" required)
				div.form-group: input#confirmPassword.form-control(type='password' placeholder="Пароль" required)
				div.form-group: button#submit.btn.btn-primary.btn-block Войти

			div.col-md-3

		script(type="text/javascript", src="/scripts/signUp.js")